ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
clearfloat()
  &:after
    content: "."
    clear: both
    display: block
    visibility: hidden
    height: 0
@keyframes circles
  0%
    width: 0
    height: 0
  100%
    width: 18rem
    height: 18rem
    border-radius: 50%
@keyframes updowns
  0%
    bottom:5%
  50%
    bottom:5.5%
  100%
    bottom:4.5%
@keyframes finger
  50% 
    top: 0rem
    right: 42%
  100% 
    top: 0.5rem
    right: 10%
@keyframes red-wave1
  88% 
    box-shadow: 0px 0px 0px 10px red
    opacity: 0
  100% 
    opacity: 0
@keyframes red-wave2
  50% 
    box-shadow: 0px 0px 0px 15px red
    opacity: 0
  100% 
    opacity: 0
@keyframes airRipple
  0%
    background-color: rgba(218,215,210,0)
  50%
    transform:scale(6)
    background-color: rgba(218,215,210,.8)
  100%
    transform:scale(16)
    background-color: rgba(0,0,0,0)
@keyframes blue-wave1
  88%
    box-shadow: 0px 0px 0px 10px #437ecc
    opacity: 0
  100%
    opacity: 0
@keyframes ripple11
  88%
    box-shadow: 0px 0px 0px 12px #e8552c
    opacity: 0
  100%
    opacity: 0
@keyframes ripple12
  88%
    box-shadow: 0px 0px 0px 15px #e8552c
    opacity: 0
  100%
    opacity: 0
@keyframes ripple21
  88%
    box-shadow: 0px 0px 0px 12px #520ff1
    opacity: 0
  100%
    opacity: 0
@keyframes ripple22
  88%
    box-shadow: 0px 0px 0px 15px #520ff1
    opacity: 0
  100%
    opacity: 0
@keyframes ripple31
  88%
    box-shadow: 0px 0px 0px 12px #ff3000
    opacity: 0
  100%
    opacity: 0
@keyframes ripple32
  88%
    box-shadow: 0px 0px 0px 15px #ff3000
    opacity: 0
  100%
    opacity: 0
