ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
clearfloat()
  &:after
    content: "."
    clear: both
    display: block
    visibility: hidden
    height: 0
@keyframes circles
  0%
    width: 0
    height: 0
  100%
    width: 18rem
    height: 18rem
    border-radius: 50%
@keyframes updowns
  0%
    bottom:5%
  50%
    bottom:5.5%
  100%
    bottom:4.5%